{% extends "base.html.twig" %}

{% block title %}Protection des données — {{ site_name }}{% endblock %}

{% block content %}
    <h1 class="mb-4">Protection des données</h1>

    {{ rgpd_content|raw }}
{% endblock %}
