<div id="cookie-banner" class="fixed-bottom border-top bg-body shadow-lg" style="z-index:1050;">
    <div class="container py-3">
        <div class="row align-items-center g-3">
            <div class="col-12 col-lg-7">
                <p class="mb-1 fw-semibold">Ce site utilise des cookies</p>
                <p class="mb-0 text-body-secondary small">
                    Nous utilisons des cookies strictement nécessaires au fonctionnement du site.
                    D'autres cookies optionnels peuvent améliorer votre expérience.
                    <a href="/cookies">En savoir plus</a>
                </p>
            </div>
            <div class="col-12 col-lg-5 d-flex flex-wrap gap-2 justify-content-lg-end">
                <button type="button" class="btn btn-outline-secondary btn-sm" id="cookie-customize">
                    Personnaliser
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm" id="cookie-reject-all">
                    Tout refuser
                </button>
                <button type="button" class="btn btn-primary btn-sm" id="cookie-accept-all">
                    Tout accepter
                </button>
            </div>
        </div>
    </div>
</div>
